classes/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/spring-integration-lab2-adapters/
/spring-integration-lab3-filters/
/spring-integration-lab3-xml-filters/
/spring-integration-lab4-transformer/
/spring-integration-lab4-XML-transformer/
/spring-integration-lab5-router/
/spring-integration-lab6-enricher/
/spring-integration-lab7-serviceactivator/
